@import url(../../style.css);
.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.sm {
  width: 30px;
  height: 30px;
}
.lg {
  width: 70px;
  height: 70px;
}
.md {
  width: 55px;
  height: 55px;
}
.sq-avtr {
  border-radius: 5px;
}
